# mac
.DS_Store

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# outputs / logs
outputs/
logs/
out/
err/

# env / caches
.env
.venv/
miniconda3/
.micromamba/
.hf_cache/
.cache/
huggingface/
wandb/

# notebooks outputs
notebooks/**/.ipynb_checkpoints/

# editor
.vscode/
.idea/

# # runs
# data/runs_qwen3_fixed/*
# !data/runs_qwen3_fixed/runs_summary.jsonl

# # allow run directories themselves
# !data/runs_qwen3_fixed/*/

# # ignore everything inside each run directory
# data/runs_qwen3_fixed/*/*

# # then re-allow only the two files we want
# !data/runs_qwen3_fixed/*/run_summary.json
# !data/runs_qwen3_fixed/*/special_token_embeddings.pt